/* 
LOGOS: Technor-Black
HOME TEXT: Nippo-Bold
ALL TEXT: GeneralSans-Variable
*/


@font-face {
    font-family: 'Technor-Black';
    src: url('../src/fonts/Technor-Black.woff2') format('woff2'),
         url('../src/fonts/Technor-Black.woff') format('woff'),
         url('../src/fonts/Technor-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}
  

@font-face {
    font-family: 'Nippo-Bold';
    src: url('../src/fonts/Nippo-Bold.woff2') format('woff2'),
         url('../src/fonts/Nippo-Bold.woff') format('woff'),
         url('../src/fonts/Nippo-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../src/fonts/GeneralSans-Variable.woff2') format('woff2'),
         url('../src/fonts/GeneralSans-Variable.woff') format('woff'),
         url('../src/fonts/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
} 

html{
    scroll-behavior: smooth;
}

body{
    background: #F1EEE8;
    font-family: 'GeneralSans-Variable';
}

.navbar{
    background-color: rgba(241,238,232,0.5);
    backdrop-filter: blur(10px);
}

.logo-name{
    font-family: 'Technor-Black';
}

.logo2{
    max-width: 20px;
    margin-bottom: 30px;
}

#connect-contact{
    background-color: #C6BEAC;
    border-radius: 20px;
    font-weight: bold;
    color: black;
}

.nav-item{
    font-family: 'GeneralSans-Variable';
}

.nav-item:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.main-text{
    font-family: 'Nippo-Bold';
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    background: url('../src/img/whitebar.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    filter: invert(1);
}

.small-text{
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-weight: 500;
}

#about1{
    transition: .2s ease-in-out;
}

#about-header, #project-header, #contact-header{
    font-size: 80px;
    font-weight: bold;
    color: #9CAF88;
}

#about-img, #about-text, #about-values-desc, #about-values{
    width: 100%;
}

#abt-img{
    max-width: 500px;
    border: 5px outset #adad9d;
    box-shadow: 10px 10px 10px #adad9d;
}

#abt-text-header, #abt-desc-header, #abt-values-header, #contact-form-header{
    font-size: 55px;
    font-weight: 600;
}

#abt-digitoolbox, #abt-values{
    font-weight: 800;
    font-size: 50px;
    color: #adad9d;
}

.card, .card-footer{
    background: #F1EEE8;
    border: none;
}

.card button{
    border: none;
    background: transparent;
}

.card img{
    border: 2px ridge #adad9d;
    border-radius: 30px;
}

.card img:hover{
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #adad9d;
    border-radius: 50%;
    display: inline-block;
}

.project-year{
    border: 1px solid #adad9d;
    border-radius: 20px;
}

.modal{
    background: transparent;
    backdrop-filter: blur(5px);
}

.modal-content{
    background: #F1EEE8;
}

.modal-body a{
    color: black;
    font-weight: 600;
}

.contact-title{
    font-size: 40px;
    font-weight: 600;
}

.contact-desc a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.contact-desc a:hover{
    color: #adad9d;
    transform:translateX(5px);
    transition: .2s ease-in-out;
}

.location{
    font-size: 30px;
    font-weight: 500;
}

form .form-floating input, form .form-floating textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid #adad9d;
}

form .form-floating input:focus, form .form-floating textarea:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid #adad9d;
    outline-width: 0px;
}

form button{
    border: 1px solid #adad9d;
    background: #adad9d;
    border-radius: 20px;
    font-weight: 500;
}

form button:hover{
    background: #FFFFFF;
    border-radius: 20px;
    color: black;
    transform: scale(1.05);
    transition: .2s ease-in-out;
}

#footer-text{
    font-weight: 600;
    
}

@keyframes back{
    100%{
        background-position: 0 2000px;
    }
}

@media (max-width: 991px){ 
    .sidebar{
        background-color: rgba(241,238,232,0.5);
        backdrop-filter: blur(10px);
    }

    .main-text{
        font-size: 75px;
    }

    #about-header, #project-header, #contact-header{
        font-size: 60px;
    }
}

@media (max-width: 767px){
    .main-text{
        font-size: 50px; 
    }

    #about-header, #project-header, #contact-header{
        font-size: 60px;
    }

    #abt-img{
        max-width: 450px;
    }

    #abt-text-header{
        font-size: 50px;
        font-weight: 600;
    }

    #abt-digitoolbox, #abt-values{
        font-size: 40px;
    }
}

@media (max-width: 575px){
    .main-text{
        font-size: 40px;
    }

    #about-header, #project-header, #contact-header{
        font-size: 50px;
    }

    #abt-img{
        max-width: 300px;
    }

    #abt-text-header{
        font-size: 50px;
        font-weight: 600;
    }

    #abt-digitoolbox, #abt-values{
        font-size: 40px;
    }
}